/* =====
Reset / Normaliza 
===== */

:root {
  --color-primary: #30364f;
  --color-secondary: #acbac4;
  --color-accent: #e1ddd1;
  --color-bg: #f0f0db;
  --color-text: #30364f;
}

.dark-mode {
  --color-primary: #e1d9bc;
  --color-secondary: #6b7780;
  --color-accent: #acbac4;
  --color-bg: #1a1d2b;
  --color-text: #f0f0db;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
video {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-accent);
}

a:hover {
  color: var(--color-accent);
}

/* =====
Base Typography
===== */

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.6;
  color: var(--color-text);
  background-color: var(--color-bg);
  transition:
    background-color 0.25s ease,
    color 0.25s ease,
    border-color 0.25s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
}

p {
  margin-bottom: 1em;
}

/* =====
Utility Classes
===== */

.container {
  width: min(1200px, 90%);
}

.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}
