/* components.css */

.hero-section {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  padding: 0 1rem;
}

/* dark overlay */
.hero-dark-shade {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: var(--color-shade);
  width: 100%;
  height: 100%;
}

.hero-background-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.content-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.hero-profile-pic img {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 9999;
  border: 2px solid white;
  border-radius: 50%;
  object-fit: cover;
}

.hero-content {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: start;
  text-align: start;
  flex-direction: column;
  gap: 1rem;
  z-index: 10;
  color: #fff;
  max-width: 750px;
}

.btn-cv {
  background-color: var(--color-bg);
  color: var(--color-text);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  transition: ease-in-out 0.3s all;
}

/* generic button */

.button {
  background-color: var(--color-accent);
  color: var(--color-primary);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 6px;
}

.button:hover {
  background-color: var(--color-primary);
  color: var(--color-bg);
}
