.button {
  background-color: var(--color-accent);
  color: var(--color-primary);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 6px;
}

.button:hover {
  background-color: var(--color-primary);
  color: var(--color-bg);
}
