/* =====
 Header styling 
 ===== */

/* header wrapper */
.site-header {
  background-color: var(--color-primary);
  color: var(--color-bg);
}

.site-logo img {
  max-width: 30px;
  height: auto;
}

.site-header .container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 100;
}

.site-navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.site-navigation {
  position: absolute;
  left: 0;
  top: -100%;
  width: 100%;
  height: auto;
  max-height: 0;
  background-color: var(--color-primary);
  opacity: 0;
  overflow: hidden;
  transition:
    top 0.3s ease,
    max-height 0.3s ease,
    opacity 0.3s ease;
}

.site-navigation.active {
  top: 100%;
  max-height: 100vh;
  opacity: 1;
}

.menu-toggle {
  display: block;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 5;
}

@media (min-width: 1024px) {
  .site-header .container {
    padding: 1.5rem 4rem;
  }
}

/* Media Queries */
@media (min-width: 768px) {
  .site-navigation {
    position: static;
    opacity: 1;
    display: flex;
    transform: none;
    width: auto;
    height: auto;
    max-height: none;
    background-color: transparent;
  }

  .site-navigation ul {
    flex-direction: row;
  }

  .menu-toggle {
    display: none; /* hidden on large screen */
  }
}

.site-footer {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}
