/* =====
 Header styling 
 ===== */

/* header wrapper */
.site-header {
  background-color: var(--color-primary);
  color: var(--color-bg);
}

.site-header .container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  width: 100%;
}

.site-footer {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.site-navigation ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.site-navigation {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  background: var(--color-primary);

  transform: translateY(-10px);
  opacity: 0;
  transition: all 0.3s ease;
}

.site-navigation.active {
  transform: translateY(0);
  opacity: 1;
}

.menu-toggle {
  display: block;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

/* Media Queries */
@media (min-width: 768px) {
  .site-navigation {
    position: static;
    opacity: 1;
    display: flex;
    transform: none;
    width: auto;
  }

  .site-navigation ul {
    flex-direction: row;
  }

  .menu-toggle {
    display: none; /* hidden on large screen */
  }
}

@media (min-width: 1024px) {
  .site-header .container {
    padding: 1.5rem 4rem;
  }
}
