/* =====
 Header styling 
 ===== */

/* header wrapper */
.site-header {
  color: var(--color-primary);
}

.site-logo img {
  max-width: 50px;
  height: auto;
}

.site-header .container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
  z-index: 100;
}

.site-navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
}

.site-navigation {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  left: -100%;
  top: 0;
  width: 70%;
  max-width: 300px;
  height: 100vh;
  background-color: var(--color-primary);
  opacity: 0;
  overflow: hidden;
  z-index: 50;
  transition:
    left 0.3s ease,
    opacity 0.3s ease;
}

.site-navigation.active {
  left: 0;
  opacity: 1;
}

.site-navigation.active a {
  color: var(--color-secondary);
}

.menu-toggle {
  display: block;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 101;
}

button {
  position: relative;
  background-color: inherit;
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

button svg {
  position: absolute; /* stack on top of each other */
  color: var(--color-secondary);
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

button svg:active {
  color: var(--color-secondary);
}

button svg.active {
  opacity: 1;
  z-index: 1;
}

/* Media Queries */
@media (min-width: 1024px) {
  .site-header .container {
    padding: 1rem 4rem;
  }
}

@media (min-width: 768px) {
  .site-navigation {
    position: static;
    padding-top: 0;
    opacity: 1;
    display: flex;
    flex-direction: row;
    transform: none;
    width: auto;
    height: auto;
    max-height: none;
    background-color: transparent;
  }

  .site-navigation ul {
    flex-direction: row;
  }

  .menu-toggle {
    display: none; /* hidden on large screen */
  }

  button svg {
    color: var(--color-primary);
  }
}

.site-footer {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}
