/* =====
 Header styling 
 ===== */

/* header wrapper */
.site-header {
  background-color: var(--color-primary);
  color: var(--color-bg);
}

.site-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  width: 100%;
}

.site-footer {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.site-navigation ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.site-navigation {
  display: none; /* mobile hidden */
  flex-direction: column;
  gap: 1rem;
}

.site-navigation .menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* vertical on mobile */
  gap: 1rem;
}

.site-navigation.active {
  display: flex;
}

.menu-toggle {
  display: block;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

/* Media Queries */
@media (min-width: 768px) {
  .site-navigation {
    display: flex;
    flex-direction: row;
  }

  .menu-toggle {
    display: none; /* hidden on large screen */
  }
}

@media (min-width: 1024px) {
  .site-header .container {
    padding: 1.5rem 4rem;
  }
}
